app/Intrinsic
app/*.exe
app/*.lib
app/*.pdb
app/*.dll
app/*.ilk
app/platforms
app/assets/world_machine/*.tmd.session

distro/
Intrinsic.7z

app/shaders/cache/*
!app/shaders/cache/KEEP_ME

build
dependencies/glslang/build

doc/

*.TMP
*.lastcodeanalysissucceeded

Intrinsic.config
Intrinsic.creator
Intrinsic.creator.user
Intrinsic.files
Intrinsic.includes

dependencies/physx/*
!dependencies/physx/KEEP_ME

dependencies/fbx/*
!dependencies/fbx/KEEP_ME

app/assets/*
!app/assets/shaders