// Visual Studio dirs/files
*.dir
x64
*.TMP
*.lastcodeanalysissucceeded
*.directory

// Binary data and settings
app/IntrinsicEd.ini
app/Intrinsic
app/*.exe
app/*.lib
app/*.pdb
app/*.dll
app/*.ilk
app/*.so
app/*.so.2
!app/BsSndRpt64.exe
app/platforms
*.kate*

// Distro directory
distro/
*.7z

// Build and dependencies
build
dependencies/glslang/build
dependencies/glslang/build_debug

// Doxygen
documentation/html

// Qt creator
Intrinsic.config
Intrinsic.creator
Intrinsic.creator.user
Intrinsic.files
Intrinsic.includes

// Assets and media
app/assets/*
!app/assets/shaders

app/media/pipeline_caches/*.pc
app/media/shaders/*
!app/media/shaders/KEEP_ME
app/media/textures/*
!app/media/textures/KEEP_ME
app/media/specular_probes/*
!app/media/specular_probes/KEEP_ME

// Crash dumps and log
app/crash_dumps
app/Intrinsic.log
