[submodule "dependencies/glslang"]
	path = dependencies/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "dependencies/spirvcross"]
	path = dependencies/spirvcross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "dependencies/gli"]
	path = dependencies/gli
	url = https://github.com/g-truc/gli
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "dependencies/enkits"]
	path = dependencies/enkits
	url = https://github.com/dougbinks/enkiTS
[submodule "dependencies/rapidjson"]
	path = dependencies/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "dependencies/sparsepp"]
	path = dependencies/sparsepp
	url = https://github.com/greg7mdp/sparsepp
[submodule "dependencies/sol"]
	path = dependencies/sol
	url = https://github.com/ThePhD/sol2.git
[submodule "dependencies/tinydir"]
	path = dependencies/tinydir
	url = https://github.com/cxong/tinydir
[submodule "dependencies/rlutil"]
	path = dependencies/rlutil
	url = https://github.com/tapio/rlutil
[submodule "dependencies/microprofile"]
	path = dependencies/microprofile
	url = https://github.com/begla/microprofile
[submodule "dependencies/tlsf"]
	path = dependencies/tlsf
	url = https://github.com/mattconte/tlsf
[submodule "dependencies/SDL2"]
	path = dependencies/SDL2
	url = git@github.com:davidsiaw/SDL2.git
