*.dir
x64

app/IntrinsicEd.ini
app/Intrinsic
app/*.exe
app/*.lib
app/*.pdb
app/*.dll
app/*.ilk
!app/BsSndRpt64.exe
app/platforms
app/assets/world_machine/*.tmd.session
app/media/pipeline_caches/*.pc

distro/
*.7z

build
dependencies/glslang/build

doc/

*.TMP
*.lastcodeanalysissucceeded

Intrinsic.config
Intrinsic.creator
Intrinsic.creator.user
Intrinsic.files
Intrinsic.includes

app/assets/*

!app/assets/shaders
app/media/shaders/*
!app/media/shaders/KEEP_ME
app/crash_dumps
app/media/irradiance_probes/*
!app/media/irradiance_probes/KEEP_ME

app/Intrinsic.log
